<a href="https://colab.research.google.com/github/BuiDuc21012492/Chord/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}

In [3]:
pokemon = pd.DataFrame(data)
print("1. DataFrame ban đầu:\n", pokemon)

1. DataFrame ban đầu:
     evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

In [4]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print("\n2. DataFrame sau khi sắp xếp cột:\n", pokemon)

2. DataFrame sau khi sắp xếp cột:
          name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [5]:
pokemon['place'] = ['park', 'street', 'lake', 'forest']
print("\n3. DataFrame sau khi thêm cột 'place':\n", pokemon)

3. DataFrame sau khi thêm cột 'place':
          name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

In [6]:
print("\n4. Kiểu dữ liệu của các cột:\n", pokemon.dtypes)

4. Kiểu dữ liệu của các cột:
 name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object